{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>LaTeX Forms</title>
</head>
<body>
    {{ template "lease-agreement-form" . }}
</body>
</html>
{{ end  }}


{{ block "lease-agreement-form" . }}
<form id="lease-agreement-form">
    {{ template "progress-bar" . }}

    {{ template "carrier-information" . }}
    {{ template "leased-equipment" . }}
    {{ template "commission" . }}
</form>
{{ end }}


{{ block "progress-bar" . }}
<ul id="progress-bar">
    <li class="active step">Carrier Information</li>
    <li class="step">Equipment</li>
    <li class="step">Commission Fees</li>
</ul>
{{ end }}


{{ block "carrier-information" . }}
<fieldset id="carrier-information">
    <legend>Company Information</legend>

    <input
        type="text"
        name="carrier-name"
        id="carrier-name"
        placeholder="Company Name"
    />

    <input
        type="text"
        name="us-dot-number"
        id="us-dot-number"
        placeholder="US DOT Number"
    />

    <input
        type="text"
        name="mc-number"
        id="mc-number"
        placeholder="MC Number"
    />

    <input
        type="text"
        name="address"
        id="address"
        placeholder="Address"
    />

    <input
        type="text"
        name="city"
        id="city"
        placeholder="City"
    />

    <input
        type="text"
        name="state"
        id="state"
        placeholder="State"
    />

    <input
        type="text"
        name="postal-code"
        id="postal-code"
        placeholder="Postal Code"
    />

    <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
    />

    <input
        type="text"
        name="phone-number"
        id="phone-number"
        placeholder="Phone Number"
    />

    <input
        type="button"
        name="next"
        class="next action-button"
        value="Next"
    />

</fieldset>
{{ end }}


{{ block "leased-equipment" . }}
    {{ template "tractor" . }}
    {{ template "trailer" . }}
{{ end }}


{{ block "tractor" . }}
<fieldset>
    <legend>Tractor</legend>

    <input
        type="text"
        name="tractor-year"
        id="tractor-year"
        placeholder="Year"
    />

    <input
        type="text"
        name="tractor-make"
        id="tractor-make"
        placeholder="Make"
    />

    <input
        type="text"
        name="tractor-model"
        id="tractor-model"
        placeholder="Model"
    />

    <input
        type="text"
        name="tractor-license-plate"
        id="tractor-license-plate"
        placeholder="License Plate"
    />

    <input
        type="text"
        name="tractor-vin"
        id="tractor-vin"
        placeholder="VIN"
    />
</fieldset>
{{ end }}


{{ block "trailer" . }}
<fieldset>
    <legend>Trailer</legend>

    <input
        type="text"
        name="trailer-year"
        id="trailer-year"
        placeholder="Year"
    />

    <input
        type="text"
        name="trailer-make"
        id="trailer-make"
        placeholder="Make"
    />

    <input
        type="text"
        name="trailer-number"
        id="trailer-number"
        placeholder="Trailer Number"
    />

    <input
        type="text"
        name="trailer-license-plate"
        id="trailer-license-plate"
        placeholder="License Plate"
    />

    <input
        type="text"
        name="trailer-vin"
        id="trailer-vin"
        placeholder="VIN"
    />
</fieldset>
{{ end }}


{{ block "commission" . }}
<fieldset>
    <legend>Commission</legend>

    <input
        type="text"
        name="gross-revenue-commission"
        id="gross-revenue-commission"
        placeholder="Gross Revenue Cut"
    />
    
    <input
        type="text"
        name="cash-advance-service-fee"
        id="cash-advance-service-fee"
        placeholder="Cash Advance Fee"
    />
</fieldset>
{{ end }}